
 @font-face { font-display: swap; font-style : normal; src: url("assets/fonts/KirangHaerangRegular.ttf"); font-family : "Kirang Haerang"; font-weight : 400;  }
 @font-face { font-display: swap; font-style : normal; src: url("assets/fonts/JuraRegular.ttf"); font-family : "Jura"; font-weight : 400;  }
 @font-face { font-display: swap; font-style : normal; src: url("assets/fonts/JuraBold.ttf"); font-family : "Jura"; font-weight : 700;  }